@font-face {
  font-family: "ComfortaaRegular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ComfortaaRegular/ComfortaaRegular.eot");
  src: url("../fonts/ComfortaaRegular/ComfortaaRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/ComfortaaRegular/ComfortaaRegular.woff") format('woff'), url("../fonts/ComfortaaRegular/ComfortaaRegular.ttf") format('truetype');
}
@font-face {
  font-family: "ComfortaaLight";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ComfortaaLight/ComfortaaLight.eot");
  src: url("../fonts/ComfortaaLight/ComfortaaLight.eot?#iefix") format('embedded-opentype'), url("../fonts/ComfortaaLight/ComfortaaLight.woff") format('woff'), url("../fonts/ComfortaaLight/ComfortaaLight.ttf") format('truetype');
}
@font-face {
  font-family: "ComfortaaBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ComfortaaBold/ComfortaaBold.eot");
  src: url("../fonts/ComfortaaBold/ComfortaaBold.eot?#iefix") format('embedded-opentype'), url("../fonts/ComfortaaBold/ComfortaaBold.woff") format('woff'), url("../fonts/ComfortaaBold/ComfortaaBold.ttf") format('truetype');
}
@font-face {
  font-family: "ComfortaaBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ComfortaaBold/ComfortaaBold.eot");
  src: url("../fonts/ComfortaaBold/ComfortaaBold.eot?#iefix") format('embedded-opentype'), url("../fonts/ComfortaaBold/ComfortaaBold.woff") format('woff'), url("../fonts/ComfortaaBold/ComfortaaBold.ttf") format('truetype');
}
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FontAwesome/FontAwesome.eot");
  src: url("../fonts/FontAwesome/FontAwesome.eot?#iefix") format('embedded-opentype'), url("../fonts/FontAwesome/FontAwesome.woff") format('woff'), url("../fonts/FontAwesome/FontAwesome.ttf") format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "ComfortaaRegular", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  cursor: default;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  -webkit-transition: 0.2s color ease-in;
  -o-transition: 0.2s color ease-in;
  transition: 0.2s color ease-in;
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
  width: 1620px;
  padding: 45px 30px;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #999;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
::-webkit-resizer {
  background-color: #666;
}
header {
  background-color: #000;
}
header .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.title {
  position: relative;
}
.title h2 {
  color: #fff;
  z-index: 10;
}
.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation-list,
.navigation-item {
  display: inline-block;
  margin-right: 30px;
}
.navigation-list a,
.navigation-item a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-family: "ComfortaaBold", sans-serif;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}
.navigation-list a:hover,
.navigation-item a:hover {
  color: #e70023;
}
.navigation-btn {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: 1px solid transparent;
  -webkit-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 5;
}
.navigation-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.navigation .bar-2 {
  top: 8px;
}
.navigation .bar-3 {
  top: 16px;
}
.navigation .active .bar-1 {
  background-color: transparent;
}
.navigation .active .bar-2 {
  -webkit-transform: translateY(0px) rotate(-45deg);
      -ms-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}
.navigation .active .bar-3 {
  -webkit-transform: translateY(-8px) rotate(45deg);
      -ms-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}
.navigation .current {
  border-bottom: 2px solid #e70023;
}
.navigation-list.show {
  margin: 0 auto;
  z-index: 4;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #000;
}
.navigation-list.show .navigation-item {
  margin: 10px 0;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}
.social-list {
  position: relative;
}
.social-list:after {
  position: absolute;
  top: 0;
  right: -16px;
  content: '';
  width: 6px;
  height: 96%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#3b111c), color-stop(#740f28), color-stop(#ae012c), to(#e70023));
  background-image: -o-linear-gradient(top, #000, #3b111c, #740f28, #ae012c, #e70023);
  background-image: linear-gradient(to bottom, #000, #3b111c, #740f28, #ae012c, #e70023);
}
.social a {
  color: #fff;
  font-size: 22px;
}
.social a:hover {
  color: #e70023;
}
.logo {
  color: #fff;
  position: relative;
}
.logo a {
  position: absolute;
  bottom: 0;
}
.main {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.language {
  z-index: 3;
  position: relative;
}
.language-list,
.language-item {
  display: inline-block;
  margin-left: 10px;
}
.language-list a,
.language-item a {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-family: "ComfortaaBold", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
.language-list a:hover,
.language-item a:hover {
  color: #e70023;
}
.language:after {
  position: absolute;
  top: 4px;
  right: -16px;
  content: '';
  width: 6px;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(#3b111c), color-stop(#740f28), color-stop(#ae012c), to(#e70023));
  background-image: -o-linear-gradient(bottom, #000, #3b111c, #740f28, #ae012c, #e70023);
  background-image: linear-gradient(to top, #000, #3b111c, #740f28, #ae012c, #e70023);
}
.language .current {
  border-bottom: 2px solid #e70023;
}
.work {
  background-color: #000;
  position: relative;
}
.work-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  min-height: 400px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.work-full {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 3px;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work-full-wrapper-img {
  width: 50%;
  overflow-y: scroll;
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
.work-text {
  width: 50%;
  padding-left: 60px;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
  color: #fff;
  -webkit-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
.work-title {
  font-size: 40px;
}
.work-type {
  margin: 10px 0 20px;
}
.work-list {
  margin: 60px 0 60px;
}
.work-list li:first-child {
  margin-top: 5px;
}
.work-description {
  margin-bottom: 60px;
}
.work-tech {
  margin-bottom: 60px;
}
.work-tech li:first-child {
  margin-top: 5px;
}
.work-img-wrapper {
  position: relative;
  max-height: 350px;
  overflow: hidden;
  max-width: 500px;
}
.work-item {
  width: 33.3%;
  max-height: 350px;
  max-height: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  margin: 0;
}
.work-item:nth-child(2) {
  margin: 0 30px;
}
.work-item.hide {
  width: 0;
}
.work-item.show {
  width: 33.3%;
  max-width: 500px;
}
.work-link {
  color: #fff;
}
.work-link:hover span {
  opacity: 0;
}
.work-link span {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255,255,255,0.8);
}
.work-link-job {
  color: #fff;
  display: inline-block;
  border-bottom: 2px solid #e70023;
  margin-left: 5px;
}
.work-link-job:hover {
  color: #e70023;
  border-color: #fff;
}
.work .opened {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.work .opened .work-text {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.work .opened .work-full-wrapper-img {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.close-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 6.3%;
  right: 3%;
  z-index: 10;
  border-radius: 50%;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.close-btn:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.close-bar {
  position: absolute;
  width: 20px;
  height: 3px;
  left: 5px;
  top: 14px;
  background-color: #000;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.bar-2 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.bar-1 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn-link {
  color: #fff;
  background-color: #e70023;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #e70023;
  display: inline-block;
  margin-top: 30px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
}
.btn-link:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
.form-section {
  padding-top: 40px;
  background-color: #000;
}
.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}
.form-text {
  color: #fff;
}
.form-submit {
  color: #fff;
  background-color: #e70023;
  padding: 10px 20px;
  border-radius: 6px;
  border: 2px solid #e70023;
  display: inline-block;
  margin-top: 30px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  font-family: "ComfortaaRegular", sans-serif;
  cursor: pointer;
  max-width: 190px;
}
.form-submit:hover {
  background-color: #fff;
  color: #000;
}
.form-submit:focus {
  color: #fff;
}
.form-input {
  font-family: "ComfortaaRegular", sans-serif;
  width: 100%;
  background: #fff;
  border: 2px solid #fff;
  width: 100%;
  display: block;
  height: 44px;
  padding: 11px 20px 8px;
  outline: none;
  color: #000;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  font-size: 13px;
}
.form-input:hover {
  background-color: #000;
  border: 2px solid #e70023;
  color: #fff;
}
.form-input:hover ::-webkit-input-placeholder {
  color: transparent;
}
.form-input:hover :-ms-input-placeholder {
  color: transparent;
}
.form-input:hover ::-ms-input-placeholder {
  color: transparent;
}
.form-input:hover ::placeholder {
  color: transparent;
}
.form-input:focus {
  background-color: #000;
  border: 2px solid #e70023;
  color: #fff;
}
.form-textarea {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 15px 20px;
  font-size: 13px;
  font-family: "ComfortaaRegular", sans-serif;
  outline: none;
  border-left: 4px solid transparent;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-textarea:hover {
  border-left: 4px solid #e70023;
  color: #fff;
  background-color: #000;
}
.form-gradient {
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(#000), color-stop(#3b111c), color-stop(#740f28), color-stop(#ae012c), to(#e70023));
  background: -o-linear-gradient(right, #000, #3b111c, #740f28, #ae012c, #e70023);
  background: linear-gradient(to left, #000, #3b111c, #740f28, #ae012c, #e70023);
  padding: 2px;
  border-radius: 6px;
  min-height: 190px;
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  margin-left: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.nice-select {
  font-family: "ComfortaaRegular", sans-serif;
  background: #fff;
  border: 2px solid #fff;
  display: block;
  padding: 0 20px;
  outline: none;
  color: #000;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #333;
  font-size: 13px;
  width: 100%;
}
.nice-select:hover {
  border: 2px solid #e70023;
  background-color: #000;
  color: #fff;
}
.nice-select.open .list {
  width: 100%;
  border-radius: 6px;
}
svg {
  width: 80px;
  height: 80px;
}
path {
  fill: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}
.filter-link {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.filter-link:hover path {
  fill: #e70023;
}
.filter-link:hover .filter-description {
  border-bottom: 2px solid #e70023;
}
.filter-description {
  text-align: center;
  color: #fff;
  border-bottom: 2px solid transparent;
  padding-top: 20px;
  padding-bottom: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1620px) {
  .wrapper {
    width: 1440px;
  }
}
@media (max-width: 1440px) {
  .wrapper {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 992px;
    padding: 45px 40px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 30px;
  }
  .navigation {
    width: 30px;
  }
  .navigation-list {
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  .navigation-btn {
    display: block;
    margin-top: 5px;
  }
}
@media (max-width: 560px) {
  .wrapper {
    padding: 30px 15px;
  }
}
