@import "_vars.styl"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media (max-width : 1200px)
	/**/
	header 
		padding 45px 40px

/* Medium Devices, Desktops */
@media (max-width : 992px)
	/**/
	// header 
	// 	padding 30px

/* Small Devices, Tablets */
@media (max-width : 768px)
	/**/
	.navigation
		width 30px
		&-list
			// display none
			transform translateX(-1000%)
		&-btn 
			display block
			margin-top 5px

/* Extra Small Devices, Phones */
@media (max-width : 560px)
		header 
			padding 30px 15px

/* Custom, iPhone Retina */
@media (max-width : 320px)
	/**/
