// Fonts
$default-font = "ComfortaaRegular", sans-serif
$default-fontBold = "ComfortaaBold", sans-serif
$default-fontLight = "ComfortaaLight", sans-serif

// Colors
$white = #fff;
$red = #e70023;
$black = #000;
