@import "_font-face.styl"
@import "_libs.styl"
@import "_vars.styl"

// all
*
	box-sizing border-box
	&:before,
	&:after
		box-sizing border-box

html, body
	height 100%

body
	font-size 16px
	min-width 320px
	position relative
	line-height 1.65
	font-family $default-font
	overflow-x hidden
	margin 0

img
	display block
	max-width 100%
	height auto

ul 
	margin 0
	padding 0
	cursor default

li 
	list-style-type none

h1,h2,h3,
h4,h5,h6 
	margin 0
	padding 0
	
p 
	margin 0
	padding 0

a
	transition .2s color ease-in
	text-decoration none

.wrapper
	margin 0 auto
	width 1620px
	padding 45px 30px

// SCROLL BAR
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #999;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
::-webkit-resizer {
  background-color: #666;
}

header 
	background-color $black
	overflow hidden
	.wrapper
		height 100vh		
		display flex
		flex-direction: column
		justify-content space-between
		align-items: stretch

.title
	position relative
	&:after
			z-index 1
			content: ''
			position absolute
			left -22%
			width 40%
			height 6px
			bottom: -5px
			background linear-gradient(to left, $black, #3b111c, #740f28, #ae012c, $red)
	h2
		position relative
		color $white
		z-index 10
		font-size 34px
		padding-bottom 12px


.top-line
	display flex
	justify-content: space-between

.navigation	
	&-list		
	&-item
		display inline-block
		margin-right 30px
		a 
			color $white
			display inline-block
			text-transform uppercase
			font-family $default-fontBold 
			font-size 16px
			border-bottom 2px solid transparent 
			&:hover
				color $red
	&-btn
		display none
		cursor pointer
		width 30px
		height 30px
		background-color transparent
		outline 1px solid transparent
		transition all 0.3 ease
		border none
		user-select none
		position relative
		z-index 5
	&-bar 
		display inline-block
		position absolute
		top 0
		left 0
		width 30px
		height 2px
		background-color $white
		transition .3s all ease
	.bar-2
		top 8px
	.bar-3
		top 16px
	.active
		.bar-1
			background-color transparent
		.bar-2
			transform translateY(0px) rotate(-45deg)
		.bar-3
			transform translateY(-8px) rotate(45deg)

	.current
		border-bottom 2px solid $red
	
.navigation
	&-list.show
		margin 0 auto
		z-index 4
		position fixed
		display flex
		flex-direction column
		width 100%
		height 100%
		top 0
		left 0
		justify-content center
		align-items center
		transform: translateX(0)
		transition all .3s ease
		background-color $black
		.navigation-item
			margin 10px 0

.social
	display flex
	justify-content space-between
	z-index 3
	&-list 
		position relative
		&:after 
			position absolute
			top 0
			right -16px
			content ''
			width 6px
			height 96%
			background-image: linear-gradient(to bottom, $black, #3b111c, #740f28, #ae012c, $red);
	a
		color $white
		font-size 22px
		&:hover
			color $red

.logo 
	color $white
	position relative
	width 138px
	a 
		position absolute
		bottom 0

.main
	color $white
	display flex
	justify-content space-between
	height 100px
	&-text 
		font-size 58px
	&-span 
		color $red

canvas.vanta-canvas
	left 20% !important
	top: -1% !important
	width 100% !important

.language
	z-index 3
	position relative
	
	&-list
	&-item
		display inline-block
		margin-left 10px
		a
			color $white
			display inline-block
			font-size 16px
			font-family $default-fontBold
			text-transform uppercase
			border-bottom 2px solid transparent
			&:hover
				color $red
	&:after 
		position absolute
		top 4px
		right -16px
		content ''
		width 6px
		height 100%
		background-image: linear-gradient(to top, $black, #3b111c, #740f28, #ae012c, $red);
	.current
		border-bottom 2px solid $red

.skills
	background-color $black
	// &-icons 
	&-icons 
		display flex
		max-width: 600px
		margin 0 auto
		margin-right 0
		flex-wrap wrap
		justify-content: center
	&-info 
		color #fff
		font-size 14px
	&-wrapper 
		display flex
		padding 40px 0
		justify-content: space-between
	&-title 
		font-size 24px
	.subtitle 
		font-family $default-fontBold
		font-size 22px
		padding-top 20px

	&-icon
		width 65px
		height 65px
		filter: sepia(100%) hue-rotate(190deg) saturate(.2);
		margin 20px
		transition all .3 ease
		position relative
		&:hover
			filter none


.about
	background-color $black
	color $white 
	padding: 40px 0
	&-wrapper
		display flex
		justify-content space-between
		padding 50px 0
	&-text 
		width 33.3%
		&:nth-child(2)
			margin 0 180px
		p 
			margin-bottom 20px
		.btn
			display inline-block
			margin-top 6px
	
		


.work
	background-color $black
	position relative
	&-items 
		display flex
		justify-content: flex-start
		position relative
		min-height 400px
		flex-wrap nowrap
	&-full
		transform: translateY(200%);
		transition: all .7s ease;
		border-radius: 3px;
		position: fixed
		width 100%
		height 100%
		padding 40px
		background-color black
		top 0
		left 0		
		z-index 15
		display flex
		align-self: center
		justify-content space-between
		&-wrapper-img
			width 50%
			overflow-y scroll	
			transform: translateX(-200%);
			transition: all 2.5s ease;
	&-text
		width 50%
		padding-left 60px
		transform translateX(200%);
		color $white;
		transition: all 2.5s ease;
	&-title 
		font-size 40px
	&-type 
		margin 10px 0 20px
	&-list 
		margin 60px 0 60px
		li:first-child
			margin-top 5px	
	&-description 
		margin-bottom 60px
	&-tech 
		margin-bottom 60px
		li:first-child
			margin-top 5px
	&-img-wrapper 
		position relative
		max-height 350px
		overflow hidden
		max-width 500px
	&-item 
		width 33.3%
		max-height 350px
		max-height 100%
		height 100%
		position relative
		transition all .5s ease
		transform-origin center
		margin 0
		&:nth-child(2)
			margin 0 30px
	&-item.hide
		width 0
	&-item.show
		width 33.3%
		max-width 500px
		// width 100%

	&-link 		
		color $white
		&:hover 
			span
				opacity 0
		span
			transition all .5s ease
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			display flex
			align-self: center
			justify-content center
			align-items: center
			background: rgba(255, 255, 255, .8)
	&-link-job
		color $white
		display inline-block
		border-bottom 2px solid $red
		margin-left 5px
		&:hover
			color $red
			border-color $white
		
	.opened
		transform: translateY(0);
		.work-text
			transform translateX(0);
		.work-full-wrapper-img
			transform translateX(0);

.close
	&-btn
		width 30px
		height 30px
		background-color $white
		position absolute
		top 6.3%
		right 3%
		z-index 10
		border-radius 50%
		transition .2s all ease;
		&:hover
			transform scale(.8)
	&-bar
		position absolute
		width 20px
		height 3px
		left 5px
		top 14px
		background-color $black
		transition .2s all ease;
	
// Buttons
.btn
	color $white
	background-color $red
	&:hover 
		background-color $white
		color $black
	&-link
		color $white		
		padding 10px 20px
		border-radius 6px
		border: 1px solid $red
		display inline-block
		margin-top 30px
		transition all .2s ease
		outline none
		&:hover
			border-color #fff
	&-click
		border 2px solid $red
		padding 10px 20px
		border-radius 6px
		&:hover
			background-color $white
			color $black
	&-download 
		padding 10px 40px
		border-radius 6px
		border 2px solid $red


// FORM

.form
	&-section
		padding-top 40px
		background-color $black
	&-wrapper
		display flex
		justify-content space-between
	&-group 
		display flex
		flex-direction column
		align-items center
		width 300px
	&-text 
		color $white
		font-size 22px
	&-submit
		color $white
		background-color $red
		padding 10px 30px
		border-radius 6px
		border: 2px solid $red
		display inline-block
		margin-top 30px
		transition all .2s ease
		outline none
		font-family $default-font
		cursor pointer
		max-width 190px
		&:hover
			background-color $white
			color $black
		&:focus
			color #fff
	&-input 
		font-family $default-font
		width 100%
		background $white
		border 2px solid $white
		width 100%
		display block
		height 44px
		padding 11px 20px 8px
		outline none
		color $black
		border-radius 6px
		transition all .3s ease
		margin-bottom 30px
		font-size 13px
		&:hover
			background-color $black
			border: 2px solid $red
			color $white
			::placeholder
				color transparent
		&:focus
			background-color $black
			border: 2px solid $red
			color: $white
	&-textarea 
		min-height 100%
		min-width 100%
		max-width 100%
		padding 15px 20px
		font-size 13px
		font-family $default-font
		outline none
		border-left 4px solid transparent
		border-radius 6px
		transition all .2s ease
		&:hover
			border-left 4px solid $red
			color $white
			background-color $black
	&-gradient 
		width 100%
		position: relative;
		background linear-gradient(to left, $black, #3b111c, #740f28, #ae012c, $red)
		padding 2px
		border-radius 6px
		height 190px

form
	display flex

.text-submit
	display flex
	flex-direction column
	width 600px
	margin-left 30px
	align-items flex-end

.nice-select
	font-family $default-font
	background $white
	border 2px solid $white
	display block
	padding 0 20px
	outline none
	color $black
	border-radius 6px
	transition all .3s ease
	color $gray
	font-size 13px
	width 100%
	&:hover
		border 2px solid $red
		background-color $black
		color $white
	.option
		color $black

.nice-select.open 
	.list
		width 100%
		border-radius 6px

// SVG
svg 
	width 80px
	height 80px

path 
	fill $white
	transition all .3s ease

// Filters
.filters
	display flex
	justify-content center
	margin 50px 0

.filter
	&-link
		margin 0 30px
		display flex
		flex-direction column
		&:hover
			path 
				fill $red
			.filter-description
				border-bottom: 2px solid $red
	&-description
		text-align center
		color $white    
		border-bottom 2px solid transparent
		padding-top 20px
		padding-bottom 4px
		transition all .3s ease

.start
	&-box 
		border-radius 25px
		max-width 1280px
		margin 0 auto
		background-color $white
		padding 20px
		display flex
		justify-content: space-around
	&-title
		font-size 28px
	&-text
		font-size 22px
		padding-top 5px
	&-btn 
		padding-top 10px
	
.copyright
	color $white
	padding-top 14px

footer
	background-color $black
	.social
		&-item
			display inline-block
			margin 0 20px
		a 
			font-size 28px
		&-list 
			&:after 
				height 6px
				width 100%
				bottom -5px
				right 0
				top inherit

@import "_media.styl" // Always at the end
